<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="reset-container">
    <div class="reset-box">
      <h2>Confirm E-mail</h2>
      <p>Type your email to send Verifivation code</p>
      <form>
        <input type="email" placeholder="E-mail" required />
        <button type="submit">Continue</button>
      </form>
    </div>
  </div>
</body>
</html>
