/* خلفية النافبار شفافة مع تأثير Blur */
.navbar {
    background-color: rgba(0, 0, 0, 0.3) !important; 
    backdrop-filter: blur(10px);
  }
  
  /* تنسيق اسم الموقع */
  .navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    color: #fff !important;
  }
  
  /* تنسيق روابط القائمة */
  .nav-link {
    color: #fff !important;
    font-size: 1rem;
    margin: 0 10px;
  }
  
  .nav-link:hover {
    color: #ff6b6b !important;
  }
  