.background {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    animation: backgroundChange 7s infinite alternate;
  }
  
  .ball {
    width: 500px;  
    height: 500px;
    border-radius: 50%;
    position: absolute;
    bottom: -200px;
    background: rgba(255, 0, 0, 0.1); /* لون باهت جدًا */
    animation: moveBall 7s infinite alternate, colorChange 7s infinite alternate;
    filter: brightness(0.1); /* تقليل السطوع أكثر لجعلها بالكاد مرئية */
  }

  
  /* إنشاء عنصر داخل الكرة للتحكم في الشفافية */
  .ball::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background: linear-gradient(45deg, red, blue);
      /* هنا يتم تطبيق الشفافية */
    animation: colorChange 7s infinite alternate;
  }
  
  @keyframes moveBall {
    0% {
      transform: translate(0, 100%);
    }
    50% {
      transform: translate(-50vw, -50vh);
    }
    100% {
      transform: translate(50vw, 50vh);
    }
  }
  
  @keyframes colorChange {
    0% { background: rgba(255, 0, 0, 0.1); } /* لون خافت جدًا */
    33% { background: rgba(255, 255, 0, 0.1); }
    66% { background: rgba(128, 0, 128, 0.1); }
    100% { background: rgba(0, 0, 255, 0.1); }
  }
  
  @keyframes backgroundChange {
    0% { background: black; }
    50% { background: #222; }
    100% { background: #444; }
  }
  