<app-navbar></app-navbar>
<div class="d-flex justify-content-center align-items-center vh-100 ">
    <div class="card p-4 shadow-lg bg-opacity-50" style="width: 400px; border-radius: 10px;">
      <h3 class="text-center mb-4 text-white">Login</h3>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label text-white">Email address</label>
          <input type="email" class="form-control bg-transparent text-white border-light" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-white">Password</label>
          <input type="password" class="form-control bg-transparent text-white border-light" id="password" placeholder="Enter your password">
        </div>
        <p>Already have an account? <a routerLink="/register" class="text-danger">Register</a></p>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div class="text-center mt-3">
          <a href="#" class="text-decoration-none text-white">Forgot password?</a>
        </div>
      </form>
    </div>
  </div>
  