<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Sign up</h1>

    <div class="google-login">
        <a href="https://accounts.google.com" target="_blank" class="google-link"><div class="google-icon">G</div>
        </a>
      <div class="divider">
        <span></span>
        <p>OR</p>
        <span></span>
      </div>
    </div>

    <form>
      <div class="form-grid">
        <div class="left">
          <label>Full Name</label>
          <input type="text" value=""placeholder ="full name" required />

          <label>User Name</label>
          <input type="text" value="" placeholder ="name" required />
          <p class="error"></p>
        </div>

        <div class="right">
          <label>E-mail</label>
          <input type="email" value="" placeholder ="email" required />
          <p class="error"></p>

          <label>Password</label>
          <input type="password" value=""placeholder ="Password" required />
          <p class="error"></p>
        </div>
      </div>
      <br>
      <p class="login">Already have an account? <a href="login.html">Log in</a></p>


      <button type="submit">Sign up</button>
    </form>
  </div>
</body>
</html>
