<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar">
    <div class="container">
      <!-- شعار الموقع -->
      <a class="navbar-brand fw-bold" href="#">ROOMIFY</a>
  
      <!-- زر التبديل (للشاشات الصغيرة) -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- عناصر النافبار -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <!-- 1) البحث عن تصميم -->
          <li class="nav-item me-3">
            <a class="nav-link" href="#">
              <span class="css-icon-search"></span>
              Search Design
            </a>
          </li>
  
          <!-- 2) عرض التصاميم -->
          <li class="nav-item me-3">
            <a class="nav-link" href="#">
              <span class="css-icon-designs">
                <span></span><span></span><span></span><span></span>
              </span>
              Designs
            </a>
          </li>
  
         <!-- 3) إنشاء غرفة -->
<li class="nav-item me-3">
  <a class="nav-link" routerLink="/generate">

    <span class="css-icon-create-room"></span>
    Create Room
  </a>
</li>

          <!-- 4) الملف الشخصي مع القائمة المنسدلة -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="profileDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="css-icon-profile"></span>
              Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item text-danger" href="#">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  



